.dashboard {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.hotel-list {
    .hotel-item {
        display: block;
        overflow: hidden;
    }
    .hotel-info {
        float: left;
        width: 75%;
    }
    padding-top: 20px;
    .hotel-name {
        cursor: pointer;
        width: 100%;
        float: left;
        padding-right: 50px;
    }
    .review-msg {
        clear: both;
        padding: 10px;
        margin-top: 10px;
        background-color: lightcyan;
    }
    .city,
    .country {
        padding-bottom: 10px;
        color: lightgray;
        float: left;
        padding-right: 15px;
    }
    .description {
        clear: both;
    }
    img {
        float: left;
        width: 200px;
        height: 200px;
        background: lightgray;
        margin: 0 15px 10px 0;
    }
    button.review {
        float: right;
        clear: both;
    }
    .price {
        float: right;
        font-size: 21px;
        font-weight: bold;
    }
}