<!-- todo split into hotel-list and hotel-item components -->
<div class="dashboard">
    <button class="btn" ng-click="$ctrl.loadHotels()">Load Hotels</button>
    <div class="hotel-list" ng-repeat="hotel in $ctrl.hotelList">
        <div class="hotel-item">
            <img ng-src="{{hotel.image}}" alt="hotelImage">
            <div class="hotel-info">
                <h4 ng-click="$ctrl.openNewWindow(hotel.id)" class="hotel-name" ng-bind="hotel.name"></h4>
                <div class="city" ng-bind="hotel.city"></div>
                <div class="country" ng-bind="hotel.country"></div>
                <div class="description" ng-bind="hotel.description"></div>                
                <div class="price">{{hotel.price}}&euro;</div>
                <div class="date" ng-bind="hotel.date"></div>
                <button class="review" ng-click="$ctrl.showReview(hotel.id)">Show Review</button>
            </div>

            <div class="review" ng-repeat="review in hotel.reviews">
                <div class="review-msg" ng-bind="review.message"></div>
            </div>
        </div>

    </div>
</div>