<form class="signin-form" ng-submit="$ctrl.signIn()">
  <div class="form-group">
    <label for="username">Username</label>
    <input ng-model="$ctrl.username" id="username" class="form-control" type="text" placeholder="username">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="$ctrl.password" id="password" class="form-control" type="password" placeholder="password">  
  </div>
  <input class="btn" type="submit" value="Sign in">
</form>