<form class="signup-form" ng-submit="$ctrl.signUp()">
  <div class="form-group">
    <label for="username">Username</label>
    <input ng-model="$ctrl.username" id="username" class="form-control" type="text" placeholder="username">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="$ctrl.password" id="password" class="form-control" type="password" placeholder="password">  
  </div>
  
  <div class="form-group">
      <label for="email">email</label>
      <input ng-model="$ctrl.email" id="email" class="form-control" type="email" placeholder="email">
  </div>
  <div class="form-group">
      <label for="firstname">First name</label>
      <input ng-model="$ctrl.firstName" id="firstname" class="form-control" type="text" placeholder="First name">
  </div>
  <div class="form-group">
      <label for="lastname">Last name</label>
      <input ng-model="$ctrl.lastName" id="lastname" class="form-control" type="text" placeholder="Last name">
  </div>
  <input class="btn" type="submit" value="Sign up">
  <child />
</form>